.newBox{
	background: #f5f5f5;
	width: 100%;
	height: 100%;
}
.layout{
	padding:2rem 2rem 0 2rem;
}
.top{
	background: url(../images/top-bg.png) no-repeat;
	background-size: 100% 20.5rem;
	position: relative;
	height: 20.5rem;
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.top1,.top2{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-align:center;
	-webkit-box-flex:1;
}
.topdisplay{
	display: -webkit-box;
}
.top h1{
	color:#9e9995;
	font-size: 1.2rem;
	height: 5rem;
	line-height: 5rem;
	font-weight: normal;
}
.top span{
	color:#ff4266;
	font-size: 4.4rem;
}
.top small{
	font-size: 2.4rem;
}
.top1 p{
	border:1px #dcdcda solid;
	border-radius:1rem;
	color:#999999;
	font-size: 1.5rem;
	padding:0.25rem 1.0rem;
	margin-top: 2rem;
}
.top1 b{
	color:#ff7c8a;
	font-size: 1.5rem;
	font-weight: normal;
}
.top2 p{
	border:1px #dcdcda solid;
	border-radius:1rem;
	color:#999999;
	font-size: 1.5rem;
	padding:0.25rem 1.0rem;
	margin-top: 2rem;
}
.top2 b{
	color:#ff7c8a;
	font-size: 1.5rem;
	font-weight: normal;
}
.txt{
	padding-top:8px
}
.txt p{
	text-align: center;
	line-height: 1.7rem;
	color:#c6c6c6;
	font-size: 1.1rem;
}
.top img{
	position: absolute;
	top: -0.3rem;
	right:-0.3rem;
	width: 7.95rem;
}
.btn a{
	background: #1acbbb;
  	height: 4.5rem;
  	display: -webkit-box;
  	-webkit-box-pack: center;
  	line-height: 4.5rem;
  	color: #fff;
  	font-size: 2.1rem;
  	border-radius: 5px;
  	box-shadow: 0 6px 0 0 #10b8a9;
  	margin-top: 1.5rem;
}
.font p{
	text-align: center;
	color:#979797;
	height: 3.5rem;
	line-height: 3.5rem;
	font-size: 1.2rem;
}
.font span{
	color:#ff7c8a;
	font-size: 1.2rem;
}
.fot{
	display: -webkit-box;
  	-webkit-box-pack: center;
  	padding-top: 10px;
}
.fot li{
	float: left;
  	padding: 0 3px;
  	line-height: 35px;
}
.fot a{
	font-size: 1.2rem;
	color: #999999;
}
.fixed{
	position: fixed;
	bottom:0;
	background: #f1f1f1;
	border-top:1px #d9d9d9 solid;
	width: 100%;
	height: 4.8rem;
	display: -webkit-box;
}
.fixed a{
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	-webkit-box-flex:1;
}
.fixed img{
	width: 2rem;
}
.fixed p{
	text-align: center;
	color:#cdcdcd;
	height: 1.5rem;
	line-height: 2rem;
	font-size: 1rem;
}
.newBox-2{
	background: #f8f8f8;
	width: 100%;
	height: auto;
	padding-top: 2rem;
}
.bg{
	background: url(../images/bg.png) no-repeat;
	background-size: 100% 13rem;
	position: relative;
	height: 13rem;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	padding: 0 1.3rem;
	margin:0 2rem 0 2rem;
}
.topfloat{
	height: 3rem;
	border-bottom: 1px #e9e9e9 dashed;
	-webkit-box-align:center;
	display: -webkit-box;
}
.topfloat img{
	width: 1.6rem;
	padding-top: 5px;
}
.topfloat p{
	padding-left: 0.7rem;
	font-size: 1.3rem;
}
.pos{
	position: absolute;
	right: 0;
	top: 0;
}
.pos img{
	width:3.65rem;
}
.div-1{
	display: -webkit-box;
}
.div-1-left{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
.div-1-right{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
.div-1 h1{
	color:#c6c6c6;
	height: 2.8rem;
	line-height: 2.8rem;
	font-size: 1rem;
	font-weight: normal;
}
.div-1 span{
	color:#ff7c8a;
	font-size: 2rem;
}
.div-1 small{
	font-size: 1.2rem;
}
.div-1-left p{
	color:#adadad;
	height: 2.9rem;
	line-height: 2.9rem;
	font-size: 1rem;
	margin-top: 1rem;
}
.div-1-right p{
	color:#fff;
	background: #c6c6c6;
	height: 2.9rem;
	border-radius:0.5rem;
	text-align: center;
	line-height: 2.9rem;
	font-size: 1.5rem;
	margin-top: 1rem;
}
.section{
	height: 4.5rem;
	background: #fff;
	box-shadow:0 0.5rem 0 0 #ebeae7;
	border-radius:0.5rem;
	margin: 2rem 2rem 0 2rem;
	padding: 0 1rem;
}
.img-1{
	float: left;
	width: 3.2rem;
	padding: 0 1rem 0 0;
	margin-top: 0.7rem;
}
.img-2{
	float: right;
	width: 0.85rem;
	padding-top: 1.5rem;
}
.float{
	float: left;
	padding-top: 0.6rem;
}
.section p{
	color:#ff7c8a;
	font-size: 1.6rem;
}
.section span{
	color:#c6c6c6;
	font-size: 1rem;
}
.newBox-3{
	background:#f8f8f8;
	padding: 2rem 2rem 10rem 2rem;
}
.taskImg{
	display: -webkit-box;
	-webkit-box-pack:center;
}
.taskImg img{
	width: 6.4rem;
}
.font-top{
	height: 7.2rem;
	border: 1px #f0f0f0 solid;
	border-radius: 1rem;
	display: -webkit-box;
	position: relative;
	background:#fff;
}
.font-top div{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient:vertical;
	text-align: center;
}
.font-top div p{
	color:#888888;
	font-size: 1rem;
	height: 3.7rem;
	line-height: 4.5rem;
}
.font-top div span{
	color:#ff7c8a;
	font-size: 1.8rem;
}
.dashed{
	width: 1px;
	border-left: 1px #fafafa dashed;
	margin:1.8rem 0;
	position: absolute;
	left: 50%;
	height: 4.5rem;
}
.list{
	-webkit-box-pack:end;
	display: -webkit-box;
}
.list p{
	text-align: right;
	color:#8695b7;
	height: 2.6rem;
	line-height: 2.6rem;
	font-size: 1rem;
}
.tequan{
	background: url(../images/hr.png) no-repeat;
	background-size: 100% 1px;
	height: 1px;
	text-align: center;
	margin: 0 0 2rem 0;
}
.tequan p{
	color:#888888;
	font-size: 1.3rem;
	position: relative;
	top: -0.8rem;
}
.task-bg{
	background:url(../images/task-bg.png) no-repeat;
	background-size: 100% 5.5rem;
	height: 5.5rem;
	margin-top: 1rem;
	display: -webkit-box;
}
.task-bg1{
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-flex:1;
	padding-left: 1.6rem;
	-webkit-box-orient:vertical;
}
.task-bg1 p{
	color:#888888;
	font-size: 1.1rem;
	font-weight: bold;
}
.task-bg1 span{
	color:#ff5236;
	font-size: 1.1rem;
	font-weight: bold;
}
.task-bg2{
	display: -webkit-box;
	-webkit-box-align:center;
	width: 6.8rem;
}
.task-bg2 p{
	width: 5.3rem;
	height: 2.1rem;
	background:#1acbbb;
	border-radius: 0.5rem;
	box-shadow: 0 3px 0 0 #0db2a3;
	text-align: center;
	line-height: 2.1rem;
	color:#fff;
	font-size: 1.2rem;
}
.task-bg1 small{
	height: 1.5rem;
	color:#888888;
	line-height: 2rem;
	font-size: 0.9rem;
}
.task-bg1 a{
	color:#8695b7;
	font-size: 0.9rem;
}
.task-bg1 b{
	color:#1acbbb;
	font-size: 0.9rem;
	font-weight: normal;
}
.wenben p{
	color:#c6c6c6;
	font-size: 1rem;
	height: 3.5rem;
	line-height: 2.5rem;
}
.taskNot{
	background:url(../images/taskNot.png) no-repeat;
	background-size: 100% 5.5rem;
	height: 5.5rem;
	margin-top: 1rem;
	display: -webkit-box;
}
.taskNot1 p{
	color:#ababab;
	font-size: 1.1rem;
	font-weight: bold;
}
.task-bg2 img{
	width: 2.4rem;
	padding-left: 2rem;
}
.solid{
	background:url(../images/solid.png) no-repeat;
	background-size: 100% 1px;
}
.newBox-user{
	padding:0 2rem 10rem 2rem;
}
.logo{
	-webkit-box-pack:center;
	display: -webkit-box;
	padding: 3.2rem 0 1rem 0;
}
.logo img{
	width: 7.4rem;
}
.tel p{
	text-align: center;
	color:#666666;
	float: 1.2rem;
	padding:0 0 2.8rem 0;
}
.logo-bg{
	background: #ff7c8a;
	height:13.5rem;
	border-radius:0.5rem;
	padding: 0 1.3rem;
}
.bg-top{
	-webkit-box-align:center;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	height: 7rem;
	border-bottom: 1px #f86e7d dashed;
}
.bg-top p{
	color:#fff;
	font-size: 1.2rem;
	padding-top: 1rem;
}
.bg-top span{
	color:#fff;
	font-size: 3rem;
	height: 4rem;
	line-height: 4rem;
}
.bg-down{
	display: -webkit-box;
}
.bg-down > div{
	display: -webkit-box;
	-webkit-box-flex:1;
	margin-top: 0.8rem;
	-webkit-box-pack:center;
}
.bg-downleft div{
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.bg-downright div{
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.bg-down img{
	width: 2rem;
}
.bg-down p{
	color:#fff;
	font-size: 1rem;
	height: 2.3rem;
	line-height: 2rem;
	padding-left: 0.6rem;	
}
.bg-down span{
	color:#fff;
	font-size: 1.5rem;
	padding-left: 0.6rem;	
}
.bg-dashed{
	width: 1px;
	border-left: 1px #f86e7d dashed;
	margin:0.9rem 0;
	position: absolute;
	left: 50%;
	height: 4.5rem;
}
.logo-font{
	margin: 2.5rem 0;
	background: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 0 0 #ebeae7;
}
.logo-font div{
	background: #fff;
	border-bottom: 1px #ebeae7 solid;
	height: 4.3rem;
}
.logo-font div{
	display: -webkit-box;
}
.logo-font div p{
	width: 10rem;
	color:#c6c6c6;
	padding-left: 1rem;
	font-size: 1.5rem;
}
.logo-font div span{
	color:#666666;
	-webkit-box-pack:end;
	display: -webkit-box;
	-webkit-box-flex:1;
	padding: 0 1rem 0 0;
	font-size: 1.5rem;
}
.logo-font div img{
	width: 0.7rem;
	padding:0.3rem 1.5rem 0 0;
}
.logo-font div{
	-webkit-box-align:center;
	display: -webkit-box;
}
.font-3{
	border-radius: 0 0 0.5rem 0.5rem;
}
.logo-wenben{
	color: #c6c6c6;
  	font-size: 1rem;
}
.logo-txt{
	-webkit-box-pack:center;
	display: -webkit-box;
}
.logo-txt a{
	text-align: center;
	color:#8695b7;
	font-size: 0.9rem;
	line-height: 50px;
}
.logo-tequan{
	background: url(../images/hr.png) no-repeat;
	background-size: 100% 1px;
	height: 1px;
	text-align: center;
	margin: 0 0 1.5rem 0;
}
.logo-tequan p{
	color:#888888;
	font-size: 1.5rem;
	position: relative;
	top: -0.8rem;
}
.sec_top{
	padding: 20px;
	display:-webkit-box;
}
.sec_top_left{
	border:1px #1acbbb solid;
	height: 40px;
	border-radius:5px;
	display:-webkit-box;
	-webkit-box-flex:1;
}
.sec_top_left div{
	display:-webkit-box;
	-webkit-box-flex:1;
	-webkit-box-pack:center;
	line-height: 40px;
}
.sec_top_left div p{
	color:#1acbbb;
	font-weight: bold;
	font-size: 16px;
}
.login{
	-webkit-box-pack:center;
	display: -webkit-box;
	padding: 2rem 0;
}
.login img{
	width: 14.3rem;
}
.login-font p{
	text-align: center;
	color:#999999;
	font-size: 1.5rem;
}
.div-btn{
	padding: 10px 20px 0 20px;
}
.login-btn{
	outline:0;
	text-align:center;
	height: 45px;
	background: #1acbbb;
	border-radius: 0;
	display: block;
	width: 100%;
	border: 0;
	border-radius:5px;
	font-size: 16px;
	color:#fff;
	font-weight: bold;
	-webkit-appearance:none;
	box-shadow:0 5px 0 0 #10b8a9;
	font-size: 20px;
}
.Account{
	position: absolute;
	top: 6px;
	left: 20px;
	background:#ff7c8a;
	width: 70px;
	height: 20px;
	border-radius:5px;
}
.Account p{
	text-align: center;
	color:#fff;
	font-size: 12px;
	line-height: 20px;
}
.Account img{
	position: relative;
	left: 5px;
}
.showAlert{
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background: #000;
  	opacity: 0.4;
  	z-index:1;
}
.slide{
	width: 120px;
	height: 175px;
	background:#fff;
	border-radius:5px 5px 0 0;
	position: absolute;
	top: 40px;
	left: 5px;
	padding: 0 10px;
}
.icon{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: 30px;
    left: 48px;
}
.slide p{
	text-align: center;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px #e8e8e8 dashed;
	color:#999999;
	font-size: 15px;
}
.pageLogin_divth{
	display:-webkit-box;
}
.pageLogin_divth p{
	color:#fff;
	font-size: 24px;
}
.pageLogin_divth_di{
	display:-webkit-box;
	-webkit-box-flex:1;
	background: #efefef;
	height: 42px;
	border-radius: 5px;
	line-height: 42px;
	-webkit-box-pack:center;
	margin:0 6px 0 0;
	
	box-shadow: 0 5px 0 0 #d9d9d9;
}
.pageLogin_divth_di p{
	color:#666666;
	font-size: 24px;
}
.pageLogin_divth_div{
	display:-webkit-box;
	-webkit-box-flex:1;
	background: #1acbbb;
	border-radius: 5px;
	line-height: 42px;
	-webkit-box-pack:center;
	margin:0 0 0 6px;
	color:#fff;
	box-shadow: 0 5px 0 0 #10b8a9;
}
.invite-font{
	height:2.5rem;
	line-height:2rem;
}
.invite-font p{
	text-align:center;
	color:#666666;
	font-size:1.2rem;
}
.invite-font span{
	color:#ff7c8a;
	font-size:1.2rem;
}













